# --- 1. Ignore Documentation ---
*.pdf
*.docx
*.doc

# --- 2. System Files ---
.DS_Store
Thumbs.db

# --- 3. Ignore User Uploads (BUT keep folders) ---
# Ignore everything inside these folders...
uploads/banners/*
uploads/payments/*
uploads/profiles/*

# ...Except the keep files (so folders stay on GitHub)
!uploads/banners/.gitkeep
!uploads/payments/.gitkeep
!uploads/profiles/.gitkeep

# ...And except the default profile picture
!uploads/profiles/default_user.png
!assets/images/default.jpg
